@font-face {
    font-family: 'Outfit';
    /* declare weights giving two values to specify a range */
    font-weight: 200 1200;
    src: url(Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Big Shoulders Display';
    /* declare weights giving two values to specify a range */
    font-weight: 200 1200;
    src: url(BigShouldersDisplay-VariableFont_wght.ttf);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
    /* font-family: 'big-shoulders-display'; */
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Big Shoulders Display', 'sans-serif';
}

/*
    5. Improve media defaults
  */
img, picture, video, canvas, svg {
    /* display: block; */
    /* max-width: 100%; */
}

/*
    6. Remove built-in form typography styles
  */
input, button, textarea, select {
    font: inherit;
}

/*
    7. Avoid text overflows
  */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root, #__next {
    isolation: isolate;
}

.modren-art-gallery {
    /* height: max-content; */
    /* height: 40vh; */
    /* background-color:black; */
}

.container {
    display: flex;
    height: 80vh;
    width: 100%;
    position: relative;
    /* background-color: #0f0f0f; */
}

.heading {
    /* width: 0%; */
    color: white;
    text-wrap: nowrap;
    font-feature-settings: 'clig'off, 'liga'off;

    overflow: visible;
    /* max-width: 230px; */
    /* margin-top: 10vh; */
    position: absolute;

    left: calc((100% / 4) - 3em);
    ;
    /* left: */
    top: 20vh;
    z-index: 2;
    font-size: 5vw;
    mix-blend-mode: difference;
    font-weight: 900;
}

.left-part {
    background: var(--Almost-Black, #151515);
    width: calc(100% / 4);
    height: 100%;
}

.center-part {
    /* background-image: url("./public/images/rectangle.jpg"); */
    /* background-color: black;  */
    width: calc(100% / 2);
    /* height: 30vh; */

    /* background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
     */
}

.center-part>img {
    /* background-image: url("./public/images/rectangle.jpg"); */
    /* background-color: black;  */
    width: 100%;
    /* min-width: 100%; */
    max-height: 100%;
    /* object-fit: fill; */
    /* background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
     */

}

.right-part {
    width: calc(100% / 3);
}

.discription-right-part {
    margin-top: 20vh;
    color: var(--Dark-Grey, #444);
    font-feature-settings: 'clig'off, 'liga'off;
    position: relative;
    left: -2em;
    /* Body (M) */
    inline-size: 16em;
    font-family: Outfit;
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    /* line-height: 32px; 145.455% */
}



.location {

    background-color: var(--Almost-Black, #151515);

    padding: 1rem;

    width: max-content;
    color: var(--White, #FFF);
    font-family: Big Shoulders Display;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.23725rem;



}

.location-c {
    margin-top: 8vh;
    position: relative;
    left: -2em;

}



.arrow-svg-img {
    text-wrap: nowrap;
    height: 4em;
}











.center-area {
    /* background-color: gray;
    height: max-content;
    width: max-content;
    margin: auto;
    padding: 5em; */
    display: flex;
    flex-direction: column;
}

.top-center-area {
    height: max-content;
    width: max-content;
    margin: auto;
    padding: 5em;
}

.left-center-area {
    margin-right: 10vw;
    margin-top: auto;
    margin-bottom: auto;

}

.heading-right {
    color: var(--Almost-Black, #151515);
    font-feature-settings: 'clig'off, 'liga'off;

    /* Heading (M) */
    font-family: Big Shoulders Display;
    font-size: 3em;
    font-style: normal;
    font-weight: 900;
    line-height: 3.75rem;
    /* 100% */
    text-transform: uppercase;
    inline-size: 5em
}

.discription-right {

    margin-top: 2em;
    inline-size: 16em;
    color: var(--Dark-Grey, #444);
    font-feature-settings: 'clig'off, 'liga'off;

    /* Body (M) */
    font-family: Outfit;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2rem;
    /* 145.455% */
}



.top-center-area {
    display: flex;
}

.center-bottom {
    display: flex;
    margin: auto;
    margin-bottom: 10vh;
}

.center-bottom>img {
    width: 30vw;
}

.right-center-bottom {
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
}

.right-center-bottom>img {
    width: 30vw;
}

.right-img {
    width: 30vw;
}


.center-bottom-discription {
    /* color: white; */
    background: var(--Almost-Black, #151515);
    /* inline-size: 13em; */
    height: 100%;
    width: 30vw;
    margin-top: 1vw;
    padding: 3vw;

}


.center-bottom-discription>h1 {
    color: var(--White, #FFF);
    font-feature-settings: 'clig'off, 'liga'off;

    /* Heading (M) */
    font-family: Big Shoulders Display;
    font-size: 4.2vw;
    font-style: normal;
    inline-size: 5em;
    font-weight: 900;
    line-height: 4vw;
    /* 100% */
    text-transform: uppercase;
}

.center-bottom-discription>p {
    color: var(--White, #FFF);
    font-feature-settings: 'clig'off, 'liga'off;
    inline-size: 22vw;
    margin-top: 1em;
    /* Body (M) */
    font-family: Outfit;
    font-size: 1.8vw;
    font-style: normal;
    font-weight: 300;
    line-height: 2.5vw;
    /* 145.455% */
}








.footer {
    background-color: #0f0f0f;
    height: max-content;
    padding: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer>img {
    width: 12vw;
}

.footer>p {

    color: var(--White, #FFF);
    font-family: Outfit;
    font-size: 1.15vw;
    font-style: normal;
    font-weight: 300;
    inline-size: 23vw;
    line-height: 1.625rem;
    /* 162.5% */
}


@media only screen and (max-width: 1000px) {

    .left-part {
        display: none;
    }

    .heading {
        /* width: 0%; */
        color: black;

        /* max-width: 230px; */
        /* margin-top: 10vh; */
        position: relative;

        margin-top: 15vh;

        left: -1em;
        top: 0vh;

        mix-blend-mode: normal;

    }

    .discription-right-part {
        margin-top: 0%;

        /* line-height: 32px; 145.455% */
    }

    .left-center-area {
        margin-right: 2vw;


    }

    .top-center-area {
        padding: 2vw;
        margin: 2vw;
        margin-top: 5vw;
    }

    .right-img {
        width: auto;
        max-width: 60vw;
        height: max-content;
    }

    .heading-right {
        font-size: 5vw;
        line-height: 5vw;
        inline-size: 20vw;
    }

    .discription-right {
        font-size: 2vw;
        inline-size: 25vw;
        line-height: 2.5vw;
    }

    .center-bottom>img {
        width: 50vw;
    }

    .right-center-bottom>img {
        width: 40vw;
    }

    .center-bottom-discription {
        width: 40vw;
    }

    .discription-right-part {
        line-height: 3vw;
        inline-size: 45vw;
    }

    .footer>p {
        line-height: 2vw;
        font-size: 1.4vw;
    }

}



@media only screen and (max-width: 670px) {

    .container {
        flex-direction: column;
        height: auto;
    }

    .right-part {
        width: 100vw;
        margin-left: 11vw;
    }

    .heading {
        margin-top: 1vw;
        font-size: 10vw;
        line-height: 9vw;
    }

    .discription-right-part {
        inline-size: 95vw;
        line-height: 5vw;
        margin-top: 4vw;
        margin-left: -3vw;
    }

    .center-part {
        width: 96vw;
    }

    .center-part>img {
        object-fit: cover;
        height: 50vw;
    }

    .location {
        font-size: 4vw;
        margin-left: -3vw;
    }

    .location-c {
        margin-top: 6vw;
    }

    .top-center-area {
        flex-direction: column;

    }

    .left-center-area {
        order: 2;
    }

    .right-img-container {
        width: 100vw;
        height: 30vh;
        background-image: url('./public/images/rectangle.jpg');
        background-size: 90% 100%;
        background-repeat: no-repeat;
        background-position: left top;
    }

    .right-img {

        display: none;
        /* height: 50vw; */

    }

    .heading-right {
        margin-top: 2vw;
        font-size: 7vw;
        line-height: 7vw;
        inline-size: 35vw;
    }

    .discription-right {
        inline-size: 80vw;
        letter-spacing: 0.1vw;
        font-size: 3vw;
        line-height: 4vw;
    }

    .center-bottom {
        flex-direction: column;

    }

    .center-bottom>img {
        width: 90vw;

    }

    .right-center-bottom {
        margin: 0%;
    }

    .right-center-bottom>img {
        width: 90vw;
        margin-top: 2vw;
    }

    .center-bottom-discription {
        width: 90vw;

    }

    .center-bottom-discription>h1 {
        inline-size: 40vw;
        line-height: 7vw;
        font-size: 7vw;
    }

    .center-bottom-discription>p {
        font-size: 4vw;
        line-height: 2em;
        inline-size: 70vw;
    }

    .footer {

        padding: 4vw;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: start;
    }

    .footer>img {
        margin: 2vw;
        width: 30vw;
    }

    .footer>p {
        margin: 2vw;
        font-size: 2vw;
        inline-size: 50vw;
        line-height: 2em;
    }

    .footer>svg {
        margin: 2vw;
        width: 20vw;
    }

}