@font-face {
    font-family: 'Outfit';
    /* declare weights giving two values to specify a range */
    font-weight: 200 1200;
    src: url('../Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Big Shoulders Display';
    /* declare weights giving two values to specify a range */
    font-weight: 200 1200;
    src: url('../BigShouldersDisplay-VariableFont_wght.ttf');
}


.backtohome {
    background: var(--Almost-Black, #151515);
    color: var(--White, #FFF);
    font-family: Big Shoulders Display;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    width: max-content;
    height: max-content;
    padding: 1.5vw;
    letter-spacing: 0.22725vw;
}

body {
    position: relative;
}

.arrow-svg-img {
    height: 4.55vw;
}

.backtohome-container {
    display: flex;
    width: max-content;
    height: max-content;
    position: absolute;
    left: 4vw;
    z-index: 2;
}

.map {
    width: 98vw;
    height: max-content;
    position: relative;

}

.img-map {

    width: 100%;
    object-fit: fill;

}

.pointer {
    z-index: 2;
    left: 50%;
    top: 20%;
    width: 4vw;
    position: absolute;
}

.our-location {
    display: flex;
    padding: 1vw;
    background: var(--Almost-Black, #151515);
    justify-content: space-around;
}


.right-part {
    display: flex;
    flex-direction: column;
}

.heading-right {
    color: var(--Gold, #D5966C);

    /* Heading (S) */
    font-family: Big Shoulders Display;
    font-size: 2.25vw;

    font-weight: 900;
    line-height: 2.25vw;
    /* 100% */
    text-transform: uppercase;
}

.location-p0 {
    color: var(--White, #FFF);
    /* Body (M) */
    font-family: Outfit;
    font-size: 1.375vw;

    font-weight: 300;
    line-height: 2vw;
    /* 145.455% */
}

.location-p {
    color: var(--White, #FFF);
    font-feature-settings: 'clig'off, 'liga'off;


    font-family: Outfit;
    font-size: 1.375vw;

    font-weight: 300;
    line-height: 2vw;
    inline-size: 40vw;
}

.heading {
    color: var(--White, #FFF);
    font-feature-settings: 'clig'off, 'liga'off;


    font-family: Big Shoulders Display;
    font-size: 4.375vw;

    font-weight: 900;
    line-height: 4.375vw;
    text-transform: uppercase;
}

.footer {
    background: var(--Gold, #D5966C);
    height: max-content;
    padding: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer>img {
    width: 12vw;
}

.footer>p {

    color: var(--Almost-Black, #151515);

    font-family: Outfit;
    font-size: 1.15vw;
    font-style: normal;
    font-weight: 300;
    inline-size: 28vw;
    line-height: 1.625vw;
    /* 162.5% */
}


@media only screen and (max-width: 670px) {

    .our-location {
        flex-direction: column;
    }


    .footer {

        padding: 4vw;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: start;
    }

    .footer>img {
        margin: 2vw;
        width: 30vw;
    }

    .footer>p {
        margin: 2vw;
        font-size: 2vw;
        inline-size: 50vw;
        line-height: 2em;
    }

    .footer>svg {
        margin: 2vw;
        width: 20vw;
    }

    .heading {
        font-size: 5.1vw;
        line-height: 5.9vw;
    }

    .heading-right {
        font-size: 3.5vw;
    }

    .our-location {
        padding: 4vw;
    }

    .location-p, .location-p0 {
        font-size: 2.125vw;
        line-height: 3.75vw;
    }
}